# This is Git's per-user configuration file.
[user]
  name = Viraat Chandra
  email = viraat.chandra@hotmail.com

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[safe]
  directory = /home/viraatc/workspace/tekit
